@import "../styles/variables.scss";

.imageItem{
    margin: 20px;

}

h1{
    font-family: $Nexa;
  
}

.ImageList{
    padding-left: 4%;
}

.gallery{
    margin-left: 4%;
    margin-top: 4%;
}

.gallery2{
    margin-left: 4%;
    padding: 40px;
}

.spacebottom{
    padding-top: 6rem;
}