@import "../styles/variables.scss";

section{
    margin: 0 120px;
}

#main{
    margin-top:  1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1 px solid red;
}

#main .text {
    font-size: 50px;
    font-family: $Nexa;
    font-weight: 700;
    line-height: 1.6;
}
